<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <style>
        #dashboard_div{
            width: 600px;
            border: 1px solid #ccc;
        }
        #chart_div{
            height:400px;
            border-bottom: 1px solid #ccc;
        }
        #filter_div{
            height:50px;
        }
    </style>
    <!-- https://developers.google.com/chart/interactive/docs/gallery/controls -->
    <!-- ChartRangeFilter -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        // charts.jsのcorechart,controlsを読み込み
        google.charts.load('current', {'packages':['corechart', 'controls']});

        // apiから取得するデータの設定ファイル
        // configの情報をparamsに渡す
        var config = {
            api:{
                enable: true,
                interval: 1000 * 3
            },
            candlestick:{
                product_code: 'BTC_JPY',
                duration: '1m',
                limit: 50,
                numViews: 5,
            },
        };

        // apiから受け取ったデータをconfigからparamsに渡す
        function send () {
            // api.enableでない場合は操作中なのでapi通信を握り潰す
            if (config.api.enable == false){
                return
            }
            // apiから受け取ったデータをconfigからparamsに渡す
            var params = {
                "product_code": config.candlestick.product_code,
                "limit": config.candlestick.limit,
                "duration": config.candlestick.duration,
            }
            $.get("/api/candle/", params).done(function (data) {
                // dataTableはgoogleが提供するオブジェクト -> エクセルなどで使用している
                // candlestick.numViewsにnumberを5つ渡してグラフを生成している
                var dataTable = new google.visualization.DataTable();
                dataTable.addColumn('date', 'Date');
                dataTable.addColumn('number', 'Low');
                dataTable.addColumn('number', 'Open');
                dataTable.addColumn('number', 'Close');
                dataTable.addColumn('number', 'High');
                dataTable.addColumn('number', 'Volume');

                // googleChartDataの配列を用意
                var googleChartData = [];
                // candlesを格納
                var candles = data["candles"];
                // for文でcandlesを指定分生成
                for(var i=0; i < candles.length; i++){
                    var candle = candles[i];
                    var date = new Date(candle.time);
                    // dataTableに存在
                    var datas = [date, candle.low, candle.open, candle.close, candle.high, candle.volume];
                    googleChartData.push(datas)
                }

                dataTable.addRows(googleChartData);
                drawChart(dataTable);
            })
        }

        // チャートの描画
        function drawChart(dataTable) {
            var chartDiv = document.getElementById('chart_div');
            var charts = [];
            // dashboardをdiv要素に生成
            var dashboard = new google.visualization.Dashboard(chartDiv);
            // dataTableで使用するkeyの設定を記述する
            var mainChart = new google.visualization.ChartWrapper({
                chartType: 'ComboChart',
                containerId: 'chart_div',
                options: {
                    hAxis: {'slantedText': false},
                    legend: {'position': 'none'},
                    candlestick: {
                        fallingColor: { strokeWidth: 0, fill: '#a52714' },
                        risingColor: { strokeWidth: 0, fill: '#0f9d58' }
                    },
                    seriesType: "candlesticks",
                    series: {}
                },
                view: {
                    columns: [
                        {
                            // 時間をstringに変換する
                            calc: function(d, rowIndex) {
                                return d.getFormattedValue(rowIndex, 0);
                            },
                            type: 'string'

                        }, 1, 2, 3, 4 // <- Low,Open,Close,Highの指定
                    ]

                }

            });
            charts.push(mainChart);

            var options = mainChart.getOptions();
            var view = mainChart.getView();

            // range操作の描画
            var controlWrapper = new google.visualization.ControlWrapper({
                // rangeで使用するkeyの設定を記述する
                'controlType': 'ChartRangeFilter',
                'containerId': 'filter_div',
                'options': {
                    'filterColumnIndex': 0,
                    'ui': {
                        'chartType': 'LineChart',
                        // 拡大・縮小の範囲設定
                        'chartView': {
                            'columns': [0, 4]
                        }
                    }
                }
            });
            // chartsとcontrolWrapperをbind
            dashboard.bind(controlWrapper, charts);
            // 最終的に生成したdataTableを描画する
            dashboard.draw(dataTable);

        }

        // 1s,1m,1hとcandlestick.durationの値をボタンのvalueから取得して変化させる
        function changeDuration(s){
            config.candlestick.duration = s;
            send();
        }

        setInterval(send, 1000 * 3)
        window.onload = function () {
            send()
            // dashboardにマウスがあるか判定してenableを書き換える
            $('#dashboard_div').mouseenter(function() {
                config.api.enable = false;
            }).mouseleave(function() {
                config.api.enable = true;
            });
        }
    </script>
</head>
<body>

<div>
    <button onclick="changeDuration('1s');">1s</button>
    <button onclick="changeDuration('1m');">1m</button>
    <button onclick="changeDuration('1h');">1h</button>
</div>

<div id="dashboard_div">
    <div id="chart_div"></div>
    <div id="filter_div"></div>
</div>

</body>
</html>